*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Red Hat Text', sans-serif;
}

.bg-morado{background-color: #6C3389;}
.bg-verde{background-color: #008D39;}
.bg-rojo{background-color: #D9224B;}
.bg-gris{background-color: #EAEAEA;}

.text-morado{color: #6C3389;}
.text-verde{color: #008D39;}
.text-rojo{color: #D9224B;}

/* Header Nav */
header ul {
    list-style-type: none;
    overflow: hidden;
}
header ul li {
    float: right;
    text-decoration: none;
  }
  
  header ul  li a {
    font-family: 'Red Hat Text';
    font-size: 12px;
    line-height: 16px;
    display: block;
    color: #6C3389;
    text-align: center;
    padding: 14px 16px;
  }
  header ul li a:hover, .active {
    color: #6C3389;
    border-bottom: #6C3389;
  }
  /*  */

.texto-home-header p{
    color: #000;
    font-family: 'Red Hat Text';
    font-size: 24px;
    line-height: 33px;
    display: block;
    margin: 70px 125px;
}
.texto-home-header span{
    color: #6C3389;
    font-family: 'Red Hat Text';
    font-size: 24px;
    line-height: 33px;
}
.texto-home-secction h2{
    font-family: 'Red Hat Text';
    font-size: 50px;
    line-height: 55px;
    margin: 60px 40px 0;
}
.texto-home-secction p{
    color: #000;
    font-family: 'Red Hat Text';
    font-size: 24px;
    line-height: 33px;
    display: block;
    margin: 16px 40px;
}
.comercializacion{
    height: 100vh;

}
.comercializacion p{
    font-family: 'Red Hat Text';
    font-size: 24px;
    line-height: 33px;
}

.comercializacion img{
    display: block;
    margin: 0 auto;
}

.comercializacion .etapa{
    margin: 45px 0;
}

.comercializacion .etapa a{
    color: #fff;
    font-family: 'Red Hat Text';
    font-size: 24px;
    line-height: 33px;
    padding: 10px 40px;
    border-radius: 35px;
    display: block;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}
.comercializacion .etapa p{
    font-family: 'Red Hat Text';
    font-size: 24px;
    line-height: 33px;
    margin: 0 30px;
}

/* COLLAPSER */


.collapser-fuente .button-collapser{
    margin-bottom: 10px;
}

.collapser-fuente .button-collapser .btn{
    border: 1px solid #EAEAEA;
    border-radius: 25px;
    width: 250px;
    height: 45px;
    font-family: 'Red Hat Text';
    font-size: 24px;
}

/* .collapser-fuente .button-collapser .btn:active:nth-child(-n+3){
    background-color: #b684d0;
    border: 1px solid #6C3389;
}
.collapser-fuente .button-collapser .btn:active:nth-last-child(-n+3){
    background-color: #438d61;
    border: 1px solid #008D39;
} */

.collapser-fuente .button-collapser .btn .hovering-morado:active,
.collapser-fuente .button-collapser .btn .hovering-morado:hover{
    background-color: #b684d0;
    border: 1px solid #6C3389;
}
.collapser-fuente .button-collapser .btn .hovering-verde:active,
.collapser-fuente .button-collapser .btn .hovering-verde:hover{    
    background-color: #438d61;
    border: 1px solid #008D39;
}

/* BOTON SEGUIMIENTO */
.seguimineto{
    margin: 40px 0px;
}
.seguimineto p{
    color: #6C3389;
    font-family: 'Red Hat Text';
    font-size: 18px;
    line-height: 24px;
    display: block;
    text-align: center;
}
.seguimineto img{
    display: block;
    margin: 0 auto;
}

/* BASES */
.bases{   
    width: 80%;
    display: block;
    margin: auto;
    border: 1px solid #EAEAEA;
    border-radius: 25px;
}
.bg-img img{
    width: 100%;
    height: auto; 
}

/* COLABORADORES */
.colaboradores{
    height: 40%;
    margin: 80px;
}

.colaboradores h2{margin-left: 25%;}

/* ESPECIES */

.especies{
    height: 100vh;
}
 
.especies span{
    color: #6C3389;
    font-family: 'Red Hat Text';
    font-size: 18px;
    line-height: 24px;
}
.especies .especies-variedad{
    text-decoration: none;
    border: 1px solid #EAEAEA;
    border-radius: 25px;
    padding: 15px;
}
.especies .especies-variedad img{ display: block; margin: 0 auto; }

.especies .especies-variedad p{
    color: #000;
    font-family: 'Red Hat Text';
    text-align: center;
    font-size: 32px;
    line-height: 55px;
}


/* POSR-F and FOOTER */
.post-footer{
    /* margin: 0 40px; */
    height: 250px;
}
.post-footer h5,
.post-footer p{
    font-family: 'Red Hat Text';
    font-size: 24px;
}
.post-footer a{
    font-family: 'Red Hat Text';
    font-size: 24px;
    font-style: italic;
}
footer img{ margin: 5px; }
